<div *ngIf="flashcard">
  <a [routerLink]="['/flashcards']">Go Back</a>
  <br>
  <h2 class="page-header">{{flashcard.word}} <small>{{flashcard.meaning}}</small></h2>
  <div class="row">
    <div class="col-md-4">
      <input name="search" #searchTerm value="{{flashcard.translation}}" (keyup.enter)="performSearch(searchTerm.value)">
      <button (click)="performSearch(searchTerm.value)">Search</button>
      <br>
      <div *ngIf="selectedGif">
        <img style="max-width:300px; width: expression(this.width > 300 ? 300: true);" src="{{selectedGif.images.original.url}}" />
      </div>
      <!-- <div *ngFor="let g of giphies">
      <img src="{{g.images.original.url}}">
    </div> -->
      <!-- <img style="width:100%" class="thumbnail" src="{{imageUrl}}"> -->
    </div>
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item">Word: {{flashcard.word}}</li>
        <li class="list-group-item">Translation: {{flashcard.translation}}</li>
      </ul>
    </div>

    <a class="btn btn-default" [routerLink]="['/edit-flashcard/'+flashcard.$key]">Edit</a>
    <a (click)="onDeleteClick()" class="btn btn-danger">Delete</a>
  </div>
</div>
