<a [routerLink]="['/flashcards']">Back</a>
<br />
<h2 class="page-header">Add Flashcard</h2>
<form (submit)="onAddSubmit()">
  <div class="form-group">
    <label>Word</label>
    <input class="form-control" type="text" [(ngModel)]="word" name="word" required>
  </div>
  <div class="form-group">
    <label>Translation</label>
    <input class="form-control" type="text" [(ngModel)]="translation" name="translation" required>
  </div>
  <div class="form-group">
    <input id="image" name="image" [(ngModel)]="image" type="file" >
  </div>
  <input type="submit" value="submit" class="btn btn-success">
</form>
